// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$text-color: #353439;
$font-size: 14px;
$comment-font-size: 12px;

nav {
  ul {
    a {
      color: $text-color;
    }
  }
  .brand-logo {
    color: $text-color;
  }
}

.collection {
  border: 1px solid #fff;
}

.comment-info {
  font-size: $comment-font-size;
  float: right;
}

.comment-info-name {
  color: #37474f;
}

.comment-info-time {
  color: #6a8692;
}

.comment-content {
  font-size: $comment-font-size;
}

.post-info {
  font-size: $font-size;
  float: right;
}

.post-info-name {
  color: #37474f;
}

.post-info-time {
  color: #6a8692;
}

.post-content {
  font-size: $font-size;
}

.card-panel {
  margin: 2rem 0 1rem 0;
  color: #212121;
  padding: 0px;
}

.card-panel .card-content {
  padding: 16px;
  padding-bottom: 24px;
}

.card-panel .card-title {
  font-size: 15px;
  font-weight: 500;
}

.sign_in_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination li.active {
  background-color: #f3ae93;
}